LIST OF DOCTORS

<h2>Add a new Doctor:</h2>
<form action="/<%= @list_id %>" method="post">
  <input type="text" name="task">
  <input type="datetime-local" name="due_date">
  <button type="submit">Create task</button>
</form>
